{% extends "base.html" %}

{% block app_content %}
    <div class="page-header">
      <h2>{{ model_metadata.display_name }} </h2>
    </div>
    <head>
        <link rel="stylesheet" href="../../static/brutusin-json-forms.css">
        <script src="../../static/jquery-1.12.4.min.js"></script>
        <script src="../../static/brutusin-json-forms.min.js"></script>
        <script src="../../static/socket-2.2.0.io.js"></script>
        <script>
        var bf = null;
        var socket = null;
        $(document).ready(function() {

            // loading the model's metadata and creating the form
            $.ajax({
                url: '/api/models/{{ model_metadata.qualified_name }}/metadata',
                success: function(data) {
                    var container = document.getElementById('prediction_form');
                    var BrutusinForms = brutusin["json-forms"];
                    bf = BrutusinForms.create(data.input_schema);
                    bf.render(container);
                },
                error: function (request, exception) {
                    $('#form_container').html('<center>Could not retrieve input schema.</center>');
                }
            });

            socket = io.connect();

            // registering function that handles prediction responses
            socket.on('prediction_response', function(msg) {
                if(msg["model_qualified_name"] == "{{ model_metadata.qualified_name }}") {
                    var html = '<hr><h3>Prediction</h3><table class="table">';
                    const keys = Object.keys(msg["prediction"]);
                    for (const key of keys) {
                        html += '<tr><td>' + key + '</td><td>' + msg["prediction"][key] + '</td></tr>';
                    }
                    html += '</table>'
                    $('#prediction').html(html);
                }
            });

            // registering function that handles error responses
            socket.on('prediction_error', function(msg) {
                console.log(msg);
                if(msg["model_qualified_name"] == "{{ model_metadata.qualified_name }}") {
                    var html = '<hr><h3>Prediction</h3><table class="table">';
                    const keys = Object.keys(msg);
                    for (const key of keys) {
                        html += '<tr><td>' + key + '</td><td>' + msg[key] + '</td></tr>';
                    }
                    html += '</table>'
                    $('#prediction').html(html);
                }
            });
        });

        // function that sends prediction requests
        function predict() {

            var prediction_request = {
                model_qualified_name: "{{ model_metadata.qualified_name }}",
                input_data: bf.getData()
            };
            socket.emit('prediction_request', prediction_request);
        }
        </script>
    </head>
    <body>
    <h3>Input</h3>
    <hr>
    <div id="form_container">
        <div id="prediction_form"> </div>
        <div class="panel-footer">
            <button class="btn btn-primary" onclick="predict()">Predict</button>
        </div>
    </div>
    <div id="prediction"></div>
    </body>
    </html>
{% endblock %}